
@{
    ViewBag.Title = "Canal9";
}

<h4>Canal 9</h4>

<iframe src='https://www.dailymotion.com/embed/video/x6tt2y8' width='626' height='367' frameborder='0' scrolling='no'
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>