
@{
    ViewBag.Title = "Canal25";
}

<h4>Canal 25</h4>

<iframe src='http://canalesdominicanosenvivo.com/asset/play/rep.php?id=140' width='626' height='367' frameborder='0' scrolling='no'
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

