
@{
    ViewBag.Title = "Canal21";
}

<h4>Canal 21</h4>

<iframe src='http://d16zdyqofyr6h0.cloudfront.net/player_do_canal21.html' width='626' height='367' frameborder='0' scrolling='no'
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

