
@{
    ViewBag.Title = "Canal4";
}

<h4>Canal 4</h4>

<iframe src='https://livestream.com/accounts/27035275/events/8371710/player?' width='626' height='367' frameborder='0' scrolling='no'
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

